.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
}
.sidebar h1 {
  color: white;
  padding: 5px 12px;
  font-size: 1.4em;
  margin: 0;
}
.sidebar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  padding: 5px 12px;
  list-style: none;
  margin: 0;
}
.sidebar ul li a {
  color: rgba(255, 255, 255, 0.75);
  transition: color 0.25s ease-out;
}
.sidebar ul li a:hover {
  color: rgb(125, 151, 121);
}

.data-infos {
  display: flex;
  align-content: space-between;
}
.data-infos > * {
  flex: 1;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}
.data-infos > *:first-of-type {
  flex: 0.5;
  border-left: 1px solid black;
}
.data-infos > * input[type=file] {
  position: absolute;
  opacity: 0.001;
  width: 0;
  height: 0;
}
.data-infos > * label {
  width: 1.5em;
  height: 1.5em;
  margin: 5px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(200, 200, 200);
  cursor: pointer;
  border: 4px dashed rgb(200, 200, 200);
  font-family: sans-serif;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-infos > * .img-container {
  width: 3em;
  height: 3em;
  margin: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.data-infos > * .img-container > img {
  min-width: 100%;
  min-height: 100%;
}
.data-infos .photos {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  align-items: center;
}

.header > * {
  font-weight: bold;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 5px;
}
.header > *:first-of-type {
  border-left: 1px solid black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-out;
}
.modal * {
  pointer-events: none;
}
.modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 500px;
  max-width: 95vw;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}
.modal .modal-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal .modal-content div input,
.modal .modal-content div select,
.modal .modal-content div textarea {
  flex: 1;
  margin-left: 7px;
  resize: vertical;
}
.modal .modal-content div input[type=checkbox] {
  flex: inherit;
  margin-right: 7px;
  margin-bottom: 6px;
}
.modal .modal-content div label {
  min-width: 50%;
}
.modal .modal-content h4 {
  width: 100%;
}
.modal .modal-content button {
  background-color: yellowgreen;
  border-radius: 7px;
  border: none;
  margin: 0.25em 0;
  color: white;
  font-size: 1.1em;
  padding: 0.25em 1.5em;
  font-weight: bold;
}
.modal[show] {
  opacity: 1;
  pointer-events: all;
}
.modal[show] * {
  pointer-events: all;
}/*# sourceMappingURL=admin.css.map */