$primary-color: rgba(125, 151, 121, 1);
$secondary-color: rgba(235, 219, 189, 1);
$third-color: rgba(191, 225, 223, 1);
$wood-color: rgba(130, 86, 35, 1);
$border-color: rgba(250, 235, 215, 1);

.container_banner {
    display: flex;
    background-color: black;
    padding-top: 10px;

    .banner_headings {
        width: 50%;
        margin-left: auto;
        margin-right: 15px;
    }

    .banner_figure {
        display: block;
        margin: auto;
    }

    .banner_title {
        color: $border-color;
    }

    .banner_richtext {
        color: rgba(235, 219, 189, 1);
    }
}

.hidden-text {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.arrow {
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 24px;
    display: inline-block;

}


.container_home_services {
    display: flex;
    background-color: $primary-color;
    padding-top: 40px;
    padding-bottom: 50px;

    .fa-solid {
        font-size: 20px;
        cursor: none;
        padding: 7px 10px 0 50px;
    }

    .list {
        width: 100%;
    }

    .box {
        display: flex;
        cursor: pointer;
        background-color: $primary-color;
        border-radius: 10px;
        font-size: 16px;
        box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
        margin-bottom: 5px;
        height: 35px;
        width: 60%;
        transition: background-color .75s ease-out;


        .hidden-text {
            display: none;
        }

        p {
            padding-top: 7px;
            margin: 0;
            pointer-events: none;
        }
    }

    .box:hover,
    .box[active] {
        background-color: $secondary-color;
        transition: background-color .25s ease-out;
    }

    .home_services_quote {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .home_services_img {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 80px;

        .train {
            object-fit: cover;
            border: 2px solid rgb(50, 46, 46);
            border-radius: 3%;
        }

        .d-flex {
            padding-top: 20px;

            img {
                flex: 1;
                width: 0%;
            }
        }

        img {
            object-fit: cover;
            border: 2px solid rgb(50, 46, 46);
            border-radius: 3%;
            margin: 0 0.4em;
        }
    }
}

.review-form {
    padding: 10px;
    background-color: $primary-color;
    border: 1px solid $border-color;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity .35s ease-out, max-height .25s ease-out;

    &[show] {
        max-height: 25em;
        opacity: 1;
    }

    label {
        width: 25%;
        vertical-align: top;
    }

    input,
    textarea {
        padding: 5px;
        border: 1px solid $border-color;
        background-color: $secondary-color;
        width: calc(75% - 12px);
        margin-bottom: .5em;
        resize: none;
    }

    .fa-star {
        cursor: pointer;
        transition: color .25s ease-out;
    }

    button {
        background-color: $secondary-color;
        color: $wood-color;
        border: none;
        cursor: pointer;

        &:hover {
            // Utilisation du nesting pour le hover
            background-color: rgba(191, 225, 223, 1);
        }
    }
}

@mixin button-style {
    color: whitesmoke;
    background-color: $secondary-color;
    border-radius: 5%;
    border: 3px solid $border-color;
    width: 68px;
    color: $wood-color;
    font-weight: bold;
}

.title_btn button {
    @include button-style;
}

span {
    font-weight: bold;
}

.container_home_info {
    background-color: $primary-color;
    display: flex;
    padding-bottom: 50px;

    .home_info_time {
        width: 50%;
        padding-left: 20px;
    }

    .title_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .allreviews {
        display: flex;
        max-width: 600px;
        overflow-y: auto;

        .review {
            margin: 15px;
            min-width: 200px;
            max-width: 200px;
        }
    }


    .fa-star {
        color: yellow;
    }
}

@media screen and (max-width: 1000px) {
    .container_home_info {
        flex-direction: column;

        .home_info_reviews {
            .title_btn {
                flex-direction: column;
                justify-content: center;

                h2 {
                    margin-bottom: 0.80em;
                }
            }

            .review-form {
                width: fit-content;
                margin: 0 auto;
                border-radius: 15px;

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .allreviews {
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        .home_info_time {
            padding-left: 0;
            width: initial;
            text-align: center;
            margin-bottom: 2.80em;
        }
    }

    .container_banner {
        .banner_headings {
            width: inherit;
            font-size: 1.1em;
        }
    }

    .container_home_services {
        flex-direction: column;
        align-items: center;


        .home_services_img {
            margin-left: 0;
            width: 100%;

            .train {
                height: inherit;
            }

            .d-flex {
                justify-content: center;
                padding-top: 0.8em;
            }
        }

        .home_services_quote {
            align-items: center;
            margin-bottom: 1.4em;

            .list {
                display: flex;
                width: fit-content;

                .box {
                    width: fit-content;
                    padding: 1.5em;
                    height: initial;
                    margin: 0 .5em;

                    i {
                        padding: 0;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }
    }
}