.container_banner {
  display: flex;
  background-color: black;
  padding-top: 10px;
}
.container_banner .banner_headings {
  width: 50%;
  margin-left: auto;
  margin-right: 15px;
}
.container_banner .banner_figure {
  display: block;
  margin: auto;
}
.container_banner .banner_title {
  color: rgb(250, 235, 215);
}
.container_banner .banner_richtext {
  color: rgb(235, 219, 189);
}

.hidden-text {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.arrow {
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-size: 24px;
  display: inline-block;
}

.container_home_services {
  display: flex;
  background-color: rgb(125, 151, 121);
  padding-top: 40px;
  padding-bottom: 50px;
}
.container_home_services .fa-solid {
  font-size: 20px;
  cursor: none;
  padding: 7px 10px 0 50px;
}
.container_home_services .list {
  width: 100%;
}
.container_home_services .box {
  display: flex;
  cursor: pointer;
  background-color: rgb(125, 151, 121);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  height: 35px;
  width: 60%;
  transition: background-color 0.75s ease-out;
}
.container_home_services .box .hidden-text {
  display: none;
}
.container_home_services .box p {
  padding-top: 7px;
  margin: 0;
  pointer-events: none;
}
.container_home_services .box:hover,
.container_home_services .box[active] {
  background-color: rgb(235, 219, 189);
  transition: background-color 0.25s ease-out;
}
.container_home_services .home_services_quote {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container_home_services .home_services_img {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.container_home_services .home_services_img .train {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(50, 46, 46);
  border-radius: 3%;
}
.container_home_services .home_services_img .d-flex {
  padding-top: 20px;
}
.container_home_services .home_services_img .d-flex img {
  flex: 1;
  width: 0%;
}
.container_home_services .home_services_img img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(50, 46, 46);
  border-radius: 3%;
  margin: 0 0.4em;
}

.review-form {
  padding: 10px;
  background-color: rgb(125, 151, 121);
  border: 1px solid rgb(250, 235, 215);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.35s ease-out, max-height 0.25s ease-out;
}
.review-form[show] {
  max-height: 25em;
  opacity: 1;
}
.review-form input,
.review-form textarea {
  padding: 5px;
  border: 1px solid rgb(250, 235, 215);
  background-color: rgb(235, 219, 189);
  width: 400px;
}
.review-form button {
  background-color: rgb(235, 219, 189);
  color: rgb(130, 86, 35);
  border: none;
  cursor: pointer;
}
.review-form button:hover {
  background-color: rgb(191, 225, 223);
}

.title_btn button {
  color: whitesmoke;
  background-color: rgb(235, 219, 189);
  border-radius: 5%;
  border: 3px solid rgb(250, 235, 215);
  width: 68px;
  color: rgb(130, 86, 35);
  font-weight: bold;
}

span {
  font-weight: bold;
}

.container_home_info {
  background-color: rgb(125, 151, 121);
  display: flex;
  padding-bottom: 50px;
}
.container_home_info .home_info_time {
  width: 50%;
  padding-left: 20px;
}
.container_home_info .title_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.container_home_info .allreviews {
  display: flex;
}
.container_home_info .allreviews .review {
  margin: 15px;
}
.container_home_info .fa-star {
  color: yellow;
}

@media screen and (max-width: 1000px) {
  .container_home_info {
    flex-direction: column;
  }
  .container_home_info .home_info_reviews .title_btn {
    flex-direction: column;
    justify-content: center;
  }
  .container_home_info .home_info_reviews .title_btn h2 {
    margin-bottom: 0.8em;
  }
  .container_home_info .home_info_reviews .review-form {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
  }
  .container_home_info .home_info_reviews .review-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container_home_info .home_info_reviews .allreviews {
    justify-content: center;
    flex-wrap: wrap;
  }
  .container_home_info .home_info_time {
    padding-left: 0;
    width: initial;
    text-align: center;
    margin-bottom: 2.8em;
  }
  .container_banner .banner_headings {
    width: inherit;
    font-size: 1.1em;
  }
  .container_home_services {
    flex-direction: column;
    align-items: center;
  }
  .container_home_services .home_services_img {
    margin-left: 0;
    width: 100%;
  }
  .container_home_services .home_services_img .train {
    height: inherit;
  }
  .container_home_services .home_services_img .d-flex {
    justify-content: center;
    padding-top: 0.8em;
  }
  .container_home_services .home_services_quote {
    align-items: center;
    margin-bottom: 1.4em;
  }
  .container_home_services .home_services_quote .list {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container_home_services .home_services_quote .list .box {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.5em;
    height: initial;
    margin: 0 0.5em;
  }
  .container_home_services .home_services_quote .list .box i {
    padding: 0;
  }
  .container_home_services .home_services_quote .list .box p {
    display: none;
  }
}/*# sourceMappingURL=home.css.map */