/**header**/
$primary-color: rgba(125, 151, 121, 1);
$secondary-color: rgba(235, 219, 189, 1);
$third-color: rgba(191, 225, 223, 1);
$wood-color: rgba(130, 86, 35, 1);
$border-color: rgba(250, 235, 215, 1);

body {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: 1.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}

* {
    font-family: 'Dosis';
}

.headband_black {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.headband_grey {
    height: 27px;
    background-color: rgb(75, 72, 72);
    border-bottom: 4px solid $third-color;
}

.logo {
    width: 65px;
    height: 60px;
    margin-left: 15px;
}

main {
    width: 1400px;
    max-width: 100vw;
    margin: 0 auto;
    flex: 1;
}

header {
    background-color: black;
}

nav {
    display: flex;
    align-items: flex-end;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
    list-style: none;
    padding-right: 30px;
}

a {
    color: rgba(235, 219, 189, 1);
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: rgba(191, 225, 223, 1);
    text-decoration: none;
    list-style-type: none;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 1000px) {
    .mobile-only {
        display: inherit;
    }

    body {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-only {
        display: inherit;
    }

    body {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1000px) {
    nav {}

    /* Masquer la navigation par défaut */
    nav ul {
        display: none;
        flex-direction: column;
        /* Menu déroulant */
        background-color: black;
        /* Fond du menu */
        position: absolute;
        top: 50px;
        /* Ajuster selon votre besoin */
        right: 0;
        width: 100%;
    }

    /* Afficher l'icône hamburger */
    .navbar-toggler {
        flex: 1;
        display: block;
        /* Afficher l'icône */
        background: none;
        /* Retirer le fond par défaut */
        border: none;
        /* Retirer la bordure */
        color: white;
        cursor: pointer;
        font-size: 1.8em;
        /* Change cursor to pointer */
    }

    /* Aligner l'icône hamburger à droite */
    .headband_black {
        height: 2.5em;
        width: calc(100vw - 20px);
        padding-right: 10px;
        justify-content: flex-start;
        background-color: black;
    }
}

/* Afficher le menu déroulant lors du clic sur le bouton hamburger */
.navbar-toggler.active+nav ul {
    display: flex;
}

/**footer**/

.content {
    flex: 1;
    /* Prendre tout l'espace disponible, poussant le footer en bas */
}

.footer_site {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    color: rgba(235, 219, 189, 1);
    border-top: 4px solid $secondary-color;
    backdrop-filter: brightness(0.4) blur(10px);

    .mentions {
        height: 6.25rem;
        grid-column: 2;
        text-align: center;
    }
}

.social {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 30px;
}