#pass {
  font-weight: bolder;
}

.h2 {
  font-weight: bold;
  font-size: 28px;
}

h3 {
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  opacity: 0.6;
  padding-bottom: 20px;
}

.container_food {
  background-color: rgb(125, 151, 121);
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
}
.container_food .carousel slide {
  padding-left: 50px;
}
.container_food .food_pictures {
  flex: 1;
  min-width: 65%;
  margin: 0 auto;
}
.container_food .food_script {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 10px;
}
.container_food .carousel-indicators {
  display: none;
}
.container_food .card_restaurant {
  width: 210px;
  background-color: whitesmoke;
  border: 5px solid rgb(250, 235, 215);
  border-radius: 3%;
}
.container_food .img-block {
  width: calc(100% - 10px);
  height: 250px;
  margin: 0 auto;
  border-radius: 3%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_food .img-block img {
  height: 90%;
}
.container_food .col p {
  margin-left: 10px;
  text-align: start;
  border-radius: 95px;
  height: 30px;
  width: 75%;
  padding-inline-start: 10px;
  background: rgb(235, 219, 189);
  color: black;
  font-size: 14px;
  border: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.container_food figcaption {
  margin-left: 13px;
  font-weight: bold;
  font-size: 15px;
}
.container_food .carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container_food .carousel-control-next,
.container_food .carousel-control-prev {
  position: relative;
  border: 3px solid rgb(250, 235, 215);
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 219, 189);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  color: white;
  left: 10px;
  top: 25%;
}

.container_park {
  background-color: rgb(125, 151, 121);
  padding-top: 30px;
  padding-left: 0;
}
.container_park .safari-train {
  display: flex;
  padding: 0 20px 20px 0px;
}
.container_park .train_picture {
  width: 55%;
  height: 250px;
  border-radius: 2%;
}
.container_park .train_script {
  padding-left: 10px;
}
.container_park .info,
.container_park .rules {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container_park .park-map {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.container_park .map_script {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container_park .map_picture {
  width: 50%;
  height: 230px;
  border-radius: 2%;
  padding-right: 5px;
}

@media screen and (max-width: 1000px) {
  .container_food {
    flex-direction: column;
  }
  .container_food .food_script {
    margin-bottom: 0.9em;
  }
  .container_park h2 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .container_park .safari-train {
    flex-direction: column;
  }
  .container_park .safari-train img {
    width: auto;
    max-width: 95vw;
    height: auto;
    margin: auto;
  }
  .container_park .safari-train .train_script {
    margin-top: 0.5em;
  }
  .container_park .safari-train .train_script h3 {
    padding-bottom: 0;
  }
  .container_park .park-map {
    flex-direction: column;
  }
  .container_park .park-map .map_script {
    width: inherit;
  }
  .container_park .park-map img {
    margin: auto;
  }
}/*# sourceMappingURL=services.css.map */