<link rel="stylesheet" href="/about.css">
<div class="about">
    <div class="story">
        <h2>UN PATRIMOINE NATUREL ET EXEPTIONNEL</h2>
        <p class="one">
            Bienvenue à l'Arcadia Zoo, un lieu magique où la nature prend vie et où les visiteurs
            peuvent découvrir la richesse de la faune mondiale.
            Notre mission est de protéger les espèces animales en danger tout en offrant une expérience éducative et
            divertissante à nos visiteurs.
            Depuis notre ouverture, nous nous sommes engagés à la conservation, à la recherche et à l'éducation.
            Nous croyons que la connaissance et la compréhension sont essentielles pour préserver la biodiversité de
            notre
            planète.
            Chaque visite à l'Arcadia Zoo contribue directement à nos efforts de conservation.
            Le Zoo Arcadia est idéalement situé près de la mythique Forêt de Brocéliande, en Bretagne, offrant un cadre
            naturel enchanteur
            pour la découverte de la faune mondiale. Niché au cœur de la Bretagne, ce parc zoologique est facilement
            accessible
            par les principales autoroutes
            et bien desservi par les transports en commun, permettant aux visiteurs de profiter d'une journée dépaysante
            en
            pleine nature.
        </p>
        <p class="two">
            Fondé en 1960, le Zoo Arcadia a commencé modestement avec quelques espèces locales.
            Avec le temps, il est devenu un centre de conservation et d'éducation de renommée internationale.
            Le zoo s'étend désormais sur plus de 50 hectares et abrite plus de 600 espèces animales venant des quatre
            coins
            du globe.
            Chaque section du parc est soigneusement aménagée pour recréer les habitats naturels des animaux, offrant
            ainsi
            une expérience immersive
            et éducative aux visiteurs.
            Le Zoo Arcadia a toujours été à la pointe de la conservation et de la recherche.
            Il participe à plusieurs programmes internationaux de reproduction en captivité pour les espèces menacées
            et a contribué à la réintroduction de nombreuses espèces dans leur habitat naturel.
        </p>
        <div class="big-elephant">
            <img src="imageszoo/elepha.webp" alt="éléphant" class="éléphant">
        </div>
    </div>
</div>