<link rel="stylesheet" href="/habitats.css">

<div class="row">
    <div class="jungle">
        <a href="jungle.html" class="animals-jungle"><img src="imageszoo/jungle/jungle.webp" alt="jungle"></a>
        <p>JUNGLE</p>
    </div>
</div>
<div class="row">
    <div class="savane">
        <a href="savane.html" class="animals-savane"><img src="imageszoo/savane/savane.webp" alt="savane"></a>
        <p>SAVANE</p>
    </div>
</div>
<div class="row">
    <div class="marais">
        <a href="marais.html"><img src="imageszoo/marais/marais.webp" alt="marais"></a>
        <p>MARAIS</p>
    </div>
</div>