<link rel="stylesheet" href="/habitat.css">
<script src="/habitat.js"></script>

<div id="savane">
    <audio id="audio" autoplay loop>
        <source src="/imageszoo/savane/elephant.mp3" type="audio/mpeg">
    </audio>
    <img src="imageszoo/savane/savane.webp" alt="savane" class="habitats">
    <div class="title">
        <h2>SAVANE</h2>
    </div>
    <div class="container_card">
        <div class="box-card" id="animals-card" data-habitat="savane">
        </div>
        <div class="zoo_script zoo_script_savane">
            <p><span>La Savane</span> une<br>
                végétation propre aux régions<br>
                chaudes ayant une longue<br>
                saison sèche, caractérisée par<br>
                une prédominance des herbes<br>
                hautes. Il y a plus de 40 espèces<br>
                de mammifères ongulés vivants<br>
                dans les savanes.
            </p>
            <button id="toggleAudio" class="audio-btn">
                <i class="fa-solid fa-pause"></i>
        </div>
    </div>
</div>
<div id="animalModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="animalName"></h2>
        <p><strong>Nourriture:</strong> <span id="animalFood"></span></p>
        <p><strong>Quantité de nourriture:</strong> <span id="animalQuantity"></span></p>
        <p><strong>Date:</strong> <span id="animalDate"></span></p>
        <p><strong>État de santé:</strong> <span id="animalHealth"></span></p>
    </div>
</div>