<link rel="stylesheet" href="/services.css">
<div class="container_food">
    <div class=" food_script">
        <h2>NOS RESTAURANTS</h2>
        <p>Venez déguster nos plats, burgers, sandwichs, paninis, hot dog, churros,<br>
            que nos équipent confectionnent chaque matin dans nos cuisines.<br>
            Les papilles sucrées seront comblées par notre assortiment de glaces<br>
            à l'italienne, confiseries et pâtisseries.
        </p>
    </div>
    <div class="food_pictures">
        <div id="imageCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#imageCarousel" data-slide-to="1"></li>
                <li data-target="#imageCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <figure class="card_restaurant">
                                <div class="img-block">
                                    <img src="imageszoo/services/gastro.webp" alt="Image 1">
                                </div>
                                <p>Service à table</p>
                                <figcaption>LE RELAIS DE LA FERME</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <figure class="card_restaurant">
                                <div class="img-block">
                                    <img src="imageszoo/services/burger.webp" alt="Image 2">
                                </div>
                                <P>Service à table</P>
                                <figcaption>AU BURGER GOURMAND</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <figure class="card_restaurant">
                                <div class="img-block">
                                    <img src="imageszoo/services/ice.webp" alt="Image 3">
                                </div>
                                <P>Glacier</P>
                                <figcaption>LES DÉLICES DU PARC</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <figure class="card_restaurant">
                                <div class="img-block">
                                    <img src="imageszoo/services/churros.webp" alt="Image 4">
                                </div>
                                <P>Service au comptoir</P>
                                <figcaption>LES CHURROS</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <figure class="card_restaurant">
                                <div class="img-block">
                                    <img src="imageszoo/services/pizza.webp" alt="Image 5">
                                </div>
                                <P>Service au comptoir</P>
                                <figcaption>DI PAOLO</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <figure class="card_restaurant">
                                <div class="img-block">
                                    <img src="imageszoo/services/sandwich.webp" alt="Image 6">
                                </div>
                                <P>Food truck</P>
                                <figcaption>PAUSE SALÉE</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-controls">
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
</div>
<div class="container_park">
    <h2>A LA DÉCOUVERTE DU PARC</h2>
    <div class="safari-train">
        <img src="imageszoo/train.webp" alt="safari-train" class="train_picture">
        <div class="train_script">
            <h3>LE PETIT TRAIN</h3>
            <p class="info">Le SAFARI TRAIN propose un circuit adapté d'une durée de 45 minutes qui vous<br>
                permettra de voir les animaux du parc sous un autre angle. C'est une occasion<br>
                parfaite pour les familles, les groupes d'amis, ou même les photographes<br>
                amateurs de découvrir ou redécouvrir les résidents de notre zoo sous<br>
                un nouvel angle, tout en profitant d'une balade relaxante et éducative.<br>
            </p>
            <p class="rules">Horaires de départs: tous les jours à l'entrée du parc à 10H30, 11H30, 14H, 15H et 16H.<br>
                Le SAFARI TRAIN a une capacité de 50 personnes maximum par départ.<br>
                Par mesure de sécurité, les enfants de moins de 14 ans devront être accompagnés par un adulte.
            </p>
        </div>
    </div>
    <div class="park-map">
        <div class="map_script">
            <h3>SUIVEZ LE GUIDE</h3>
            <p>Expérimentez la VISITE GUIDÉE à travers les différents habitats,<br>
                des vastes plaines de la savane aux mystérieuses profondeurs de la jungle<br>
                luxuriante, en passant par les paisibles marais où la vie aquatique<br>
                foisonne.<br>
                Laissez-vous émerveiller par nos spectacles captivants mettant en <br>
                vedette nos animaux les plus talentueux, où vous pourrez voir leurs<br>
                incroyables capacités en action.
            </p>
        </div>
        <img src="imageszoo/services/mapark.webp" alt="map" class="map_picture">
    </div>
</div>